@model SmartStationerySystem.Models.PrintOption

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>PrintOption</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ColorType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ColorType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PaperSize)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PaperSize)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsDoubleSided)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsDoubleSided)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PricePerPage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PricePerPage)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
